NiFi_Flow.json
{"flowContents":{"identifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d","instanceIdentifier":"8aad31a0-0184-1000-0dd9-5854bbec03e4","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","instanceIdentifier":"93403ca1-49fc-1017-0d82-419ef8f5816e","name":"GTFS - De Lijn","comments":"","position":{"x":904.0,"y":896.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"water_quality","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"8fa193ed-cc76-35d8-ab7c-0c242923e5a0","instanceIdentifier":"93403caf-49fc-1017-234e-82e7fe49757e","name":"GTFS LdesClient","comments":"","position":{"x":392.0,"y":-104.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://gtfs.smartdataspace.dev-vlaanderen.be/connections-by-stop"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"93403ca6-49fc-1017-dd15-75a9fcbef357","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM water_quality WHERE \"id\" = '${sql.args.1.value}' and 'temperatuur_date' = '${sql.args.6.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\",\n      \"*arrivalStop\": \"arrivalstop\",\n      \"*arrivalTime\": \"arrivaltime\",\n      \"*departureStop\": \"departurestop\",\n      \"*departureTime\": \"departuretime\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"member_id\",\n      \"arrivalstop\": {\n        \"*id\": \"arrival_id\",\n        \"*label\": \"arrival_halte\",\n        \"*WKT\": {\n          \"*value\": \"arrival_WKT\"\n        }\n      },\n      \"arrivaltime\": {\n        \"*value\": \"arrival_time\"\n      },\n      \"departurestop\": {\n        \"*id\": \"departure_id\",\n        \"*label\": \"departure_halte\",\n        \"*WKT\": {\n          \"*value\": \"departure_WKT\"\n        }\n      },\n      \"departuretime\": {\n        \"*value\": \"departure_time\"\n      }\n    }\n  }\n\n\n\n\n ]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c0b0418e-4b7f-38d2-be92-3127dde98068","instanceIdentifier":"93403cb0-49fc-1017-6bbb-2a09524216fb","name":"","source":{"id":"8fa193ed-cc76-35d8-ab7c-0c242923e5a0","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"GTFS LdesClient","comments":"","instanceIdentifier":"93403caf-49fc-1017-234e-82e7fe49757e"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"93403cab-49fc-1017-5fc1-1bb7ce0ad91d","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"JSON to SQL","comments":"","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"93403ca6-49fc-1017-dd15-75a9fcbef357"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"93403caa-49fc-1017-6e72-d46276ef72d3","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"JSON to SQL","comments":"","instanceIdentifier":"93403ca4-49fc-1017-1489-ded42b9e79b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"93403cad-49fc-1017-0f3d-7bf9b0444ed0","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403ca8-49fc-1017-fb39-4bba00cf713e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"93403ca9-49fc-1017-2a89-a11d33334299","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403ca5-49fc-1017-077a-0b5661dd9e87"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403ca3-49fc-1017-6d8c-5db315051221"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"93403ca2-49fc-1017-9488-99376f39db71","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ae679afd-8bf9-3495-8c2a-4cfaf14e1fb6"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"b6c44d33-5651-35b3-ba99-c37951d63546","instanceIdentifier":"93403c79-49fc-1017-051c-6c1ec8e476ce","name":"iow_LDES_timescale device-models","comments":"","position":{"x":1848.0,"y":152.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"93403c7f-49fc-1017-050a-ce016e4b2b0d","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"devices","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"aaf05860-6b99-3784-a755-44f3ba4cf32c","instanceIdentifier":"93403c88-49fc-1017-9c14-b33f9837ca03","name":"IOW LdesClient","comments":"","position":{"x":392.0,"y":-192.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://iow.smartdataspace.beta-vlaanderen.be/device-models-timebased"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"93403c80-49fc-1017-1a0d-8434401e760b","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM devices WHERE \"id\" = '${sql.args.1.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"93403c7e-49fc-1017-9e49-d3349f622389","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"93403c7d-49fc-1017-3edb-b4feadff7f48","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\"\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"93403c7b-49fc-1017-de77-53e9f57c8b64","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a4088c0a-79e9-3f06-a900-dca2973fddb5","instanceIdentifier":"93403c89-49fc-1017-321d-26198bd9dbfc","name":"","source":{"id":"aaf05860-6b99-3784-a755-44f3ba4cf32c","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"IOW LdesClient","comments":"","instanceIdentifier":"93403c88-49fc-1017-9c14-b33f9837ca03"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403c7b-49fc-1017-de77-53e9f57c8b64"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"93403c85-49fc-1017-b087-1a32681d5c5d","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"JSON to SQL","comments":"","instanceIdentifier":"93403c7f-49fc-1017-050a-ce016e4b2b0d"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"93403c80-49fc-1017-1a0d-8434401e760b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"93403c82-49fc-1017-1704-ace41d813892","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403c7d-49fc-1017-3edb-b4feadff7f48"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"JSON to SQL","comments":"","instanceIdentifier":"93403c7f-49fc-1017-050a-ce016e4b2b0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"93403c81-49fc-1017-bc75-b6c4adc050bd","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403c7e-49fc-1017-9e49-d3349f622389"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403c7d-49fc-1017-3edb-b4feadff7f48"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"93403c84-49fc-1017-ee5d-ce475deef678","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403c7b-49fc-1017-de77-53e9f57c8b64"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"b6c44d33-5651-35b3-ba99-c37951d63546","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"93403c7e-49fc-1017-9e49-d3349f622389"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"93403c7a-49fc-1017-dc4f-a3cd3246ccc6","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b6c44d33-5651-35b3-ba99-c37951d63546"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"23b8a795-3086-3935-a38f-40243e22a8ca","instanceIdentifier":"a9b8798d-0184-1000-a39d-63b6f34c5676","name":"iow_LDES_timescale devices","comments":"","position":{"x":1384.0,"y":152.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"e64637c5-c256-1f86-a0f6-e8a59ef79efb","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"devices","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"da1f574a-6a64-38d0-bd20-b07cef7d74c6","instanceIdentifier":"93403c8d-49fc-1017-d1e2-2bee43d305cd","name":"IOW LdesClient","comments":"","position":{"x":392.0,"y":-72.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://iow.smartdataspace.beta-vlaanderen.be/devices-timebased"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"93403c6d-49fc-1017-59a0-249fa5493c74","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM devices WHERE \"id\" = '${sql.args.1.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"e64637c4-c256-1f86-15d3-9a44a88fa3f6","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"93403c6c-49fc-1017-4479-64f637876a7b","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"93403c6e-49fc-1017-b8c9-f717b567bc4f","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\"\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"93403c73-49fc-1017-6df4-ff2c59342e8f","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"JSON to SQL","comments":"","instanceIdentifier":"e64637c5-c256-1f86-a0f6-e8a59ef79efb"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"93403c6d-49fc-1017-59a0-249fa5493c74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"93403c72-49fc-1017-c9af-edd4ee798197","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403c6e-49fc-1017-b8c9-f717b567bc4f"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"JSON to SQL","comments":"","instanceIdentifier":"e64637c5-c256-1f86-a0f6-e8a59ef79efb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"810d2905-529a-3347-92d2-f22ce17ebb00","instanceIdentifier":"93403c8e-49fc-1017-ff72-0f53d646bac1","name":"","source":{"id":"da1f574a-6a64-38d0-bd20-b07cef7d74c6","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"IOW LdesClient","comments":"","instanceIdentifier":"93403c8d-49fc-1017-d1e2-2bee43d305cd"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403c6c-49fc-1017-4479-64f637876a7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"93403c74-49fc-1017-fd79-9e51bef73ed7","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"e64637c4-c256-1f86-15d3-9a44a88fa3f6"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"93403c6e-49fc-1017-b8c9-f717b567bc4f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"93403c71-49fc-1017-1497-8784514eb434","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"93403c6c-49fc-1017-4479-64f637876a7b"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"23b8a795-3086-3935-a38f-40243e22a8ca","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"e64637c4-c256-1f86-15d3-9a44a88fa3f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"f93b360c-6d13-1ec5-e79e-db5d7c76f938","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"23b8a795-3086-3935-a38f-40243e22a8ca"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"a1e5f782-7f11-3e35-8347-54d6a877a788","instanceIdentifier":"c305946e-0184-1000-8d7a-8132e7a39536","name":"iow_LDES_timescale water quality vmm","comments":"","position":{"x":2136.0,"y":504.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"e64637c5-c256-1f86-2a4d-0f5807a0ddde","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"water_quality_vmm","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"b2df2b6f-7569-34aa-9496-88ff0923b16d","instanceIdentifier":"e64637d2-c256-1f86-3260-cd5a6ce7491e","name":"IOW LdesClient","comments":"","position":{"x":520.0,"y":-176.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://ldes-server-observations.ashysea-81b44ba5.westeurope.azurecontainerapps.io/water-quality-observations-by-time"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"e64637c8-c256-1f86-63e7-d7292acf4341","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM water_quality WHERE \"id\" = '${sql.args.1.value}' and 'temperatuur_date' = '${sql.args.6.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"e64637c4-c256-1f86-9e28-1e09b6cd696a","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"e64637c9-c256-1f86-05a6-beb4fde4982a","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\",\n      \"Bemonsteringsobjectverzameling.lid\": {\n        \"*\": {\n          \"Observatie:.phenomenonTime\": {\n            \"*value\": \"&(2,0).date\"\n          },\n          \"Observatie.uitgevoerdMetSensor\": \"&(1,0).sensor\",\n          \"Observatie.geobserveerdKenmerk\": \"&(1,0).kenmerk\",\n          \"Observatie.resultaat\": {\n            \"Maat.maat\": {\n              \"https://schema.org/value\": {\n                \"*value\": \"&(4,0).value\"\n              }\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"*\": {\n        \"value\": \"@(1,kenmerk).value\",\n        \"date\": \"@(1,kenmerk).date\",\n        \"sensor\": \"@(1,kenmerk).sensor\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"https://data.vmm.be/concept/sensor/batterijniveau\": \"batterijniveau\",\n      \"https://data.vmm.be/concept/waterkwaliteitparameter/temperatuur\": \"temperatuur\",\n      \"https://data.vmm.be/concept/waterkwaliteitparameter/conductiviteit\": \"conductiviteit\",\n\t  \"https://data.vmm.be/concept/observatieparameter/hydrostatische-druk\": \"hydro_druk\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"*\": {\n        \"*\": \"&1_&0\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"e64637c6-c256-1f86-c004-47588e11df66","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"e64637cd-c256-1f86-945b-86d9a2f3fc54","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"JSON to SQL","comments":"","instanceIdentifier":"e64637c5-c256-1f86-2a4d-0f5807a0ddde"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"e64637c8-c256-1f86-63e7-d7292acf4341"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"e64637cc-c256-1f86-0d8a-7beb70934c7e","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"e64637c9-c256-1f86-05a6-beb4fde4982a"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"JSON to SQL","comments":"","instanceIdentifier":"e64637c5-c256-1f86-2a4d-0f5807a0ddde"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"29196b5d-30df-3c83-96e9-77107e728d4b","instanceIdentifier":"e64637d3-c256-1f86-e0a5-5f445d4b6297","name":"","source":{"id":"b2df2b6f-7569-34aa-9496-88ff0923b16d","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"IOW LdesClient","comments":"","instanceIdentifier":"e64637d2-c256-1f86-3260-cd5a6ce7491e"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"e64637c6-c256-1f86-c004-47588e11df66"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"e64637ce-c256-1f86-6ab6-4a2992397111","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"e64637c4-c256-1f86-9e28-1e09b6cd696a"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"e64637c9-c256-1f86-05a6-beb4fde4982a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"e64637cb-c256-1f86-642f-b023b8056a61","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"e64637c6-c256-1f86-c004-47588e11df66"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"a1e5f782-7f11-3e35-8347-54d6a877a788","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"e64637c4-c256-1f86-9e28-1e09b6cd696a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"f93b360c-6d13-1ec5-0615-42443a2ffff8","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a1e5f782-7f11-3e35-8347-54d6a877a788"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"6954d41e-c45f-3945-a1a3-7439fec67609","instanceIdentifier":"8adae140-0184-1000-3b36-d438ac9bb439","name":"iow_LDES_timescale water quality","comments":"","position":{"x":912.0,"y":152.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"c8771db8-c0f8-3658-4cdd-72ef1b80b917","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"water_quality","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"c8358ed3-acf7-3bca-a22e-496d5536c568","instanceIdentifier":"be26f548-0184-1000-9d12-c7b00f582e28","name":"IOW LdesClient","comments":"","position":{"x":480.0,"y":-88.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://iow.smartdataspace.beta-vlaanderen.be/water-quality-observations-timebased"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"e7a92668-6f8f-3de1-73c8-1b46636c10c4","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM water_quality WHERE \"id\" = '${sql.args.1.value}' and 'temperatuur_date' = '${sql.args.6.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"4f86c256-e646-37c4-0b77-7bf40d58d658","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.2-Special-Samuel-Edition"},"properties":{"SOURCE_SERIALISATION":"N-Quads","TARGET_SERIALISATION":"JSON-LD","CONTEXT_URI":"https://data.vlaanderen.be/doc/applicatieprofiel/waterkwaliteit/ontwerpstandaard/2022-05-24/context/waterkwaliteit-ap.jsonld"},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"Serialisation of the incoming FlowFile.","identifiesControllerService":false,"sensitive":false},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"Serialisation of the outgoing FlowFile.","identifiesControllerService":false,"sensitive":false},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"The JSON-LD context to apply.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"de3d08fa-81d7-333c-9b75-c28b68088e9f","instanceIdentifier":"e8b29eac-e222-3cf4-3076-d563cb7f186c","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1128.0,"y":-24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.3-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"c62e2eea-0b6d-34a9-d0fe-4182ac68e3cc","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*id\": \"id\",\n      \"Bemonsteringsobjectverzameling.lid\": {\n        \"*\": {\n          \"Observatie:.phenomenonTime\": {\n            \"*value\": \"&(2,0).date\"\n          },\n          \"Observatie.uitgevoerdMetSensor\": \"&(1,0).sensor\",\n          \"Observatie.geobserveerdKenmerk\": \"&(1,0).kenmerk\",\n          \"Observatie.resultaat\": {\n            \"Maat.maat\": {\n              \"https://schema.org/value\": {\n                \"*value\": \"&(4,0).value\"\n              }\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"*\": {\n        \"value\": \"@(1,kenmerk).value\",\n        \"date\": \"@(1,kenmerk).date\",\n        \"sensor\": \"@(1,kenmerk).sensor\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"https://data.vmm.be/concept/sensor/batterijniveau\": \"batterijniveau\",\n      \"https://data.vmm.be/concept/waterkwaliteitparameter/temperatuur\": \"temperatuur\",\n      \"https://data.vmm.be/concept/waterkwaliteitparameter/conductiviteit\": \"conductiviteit\",\n\t  \"https://data.vmm.be/concept/observatieparameter/hydrostatische-druk\": \"hydro_druk\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"*\": {\n        \"*\": \"&1_&0\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"244a9524-86e8-3013-3055-d5f934c9cfdc","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"JSON to SQL","comments":"","instanceIdentifier":"c8771db8-c0f8-3658-4cdd-72ef1b80b917"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"e7a92668-6f8f-3de1-73c8-1b46636c10c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"3a61d996-2575-338d-3e21-5ad829bb57c8","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"c62e2eea-0b6d-34a9-d0fe-4182ac68e3cc"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"JSON to SQL","comments":"","instanceIdentifier":"c8771db8-c0f8-3658-4cdd-72ef1b80b917"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"99b820df-2d82-3179-afa0-c4f1b107c3ef","instanceIdentifier":"be2708f1-0184-1000-ad75-b3721eb5249b","name":"","source":{"id":"c8358ed3-acf7-3bca-a22e-496d5536c568","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"IOW LdesClient","comments":"","instanceIdentifier":"be26f548-0184-1000-9d12-c7b00f582e28"},"destination":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"e8b29eac-e222-3cf4-3076-d563cb7f186c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"dd219a3f-37be-3d93-dfda-e0e7be35b115","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"4f86c256-e646-37c4-0b77-7bf40d58d658"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"c62e2eea-0b6d-34a9-d0fe-4182ac68e3cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"},{"identifier":"d7a41ade-ed77-3136-b88f-4d290f0efa83","instanceIdentifier":"a5a70750-d2a7-3997-c455-1ee386c36743","name":"VersionMater","source":{"id":"de3d08fa-81d7-333c-9b75-c28b68088e9f","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"e8b29eac-e222-3cf4-3076-d563cb7f186c"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"6954d41e-c45f-3945-a1a3-7439fec67609","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"4f86c256-e646-37c4-0b77-7bf40d58d658"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"3ec56d13-f93b-360c-cf62-0c5960db116a","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:postgresql://ldes-postgis/water_quality","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6954d41e-c45f-3945-a1a3-7439fec67609"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"}],"remoteProcessGroups":[],"processors":[{"identifier":"67777a50-98e2-3785-9a21-4dea4461fd20","instanceIdentifier":"99a88d81-0184-1000-b61a-39d088303317","name":"LdesClient","comments":"","position":{"x":944.0,"y":504.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://iow.smartdataspace.beta-vlaanderen.be/water-quality-observations-timebased"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"cfef1fea-03af-31c9-ab08-03121f0cb6c1","instanceIdentifier":"be538d62-0184-1000-37df-c9244122084d","name":"InvokeHTTP","comments":"","position":{"x":936.0,"y":664.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://host.docker.internal:8000/output","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"dfd0f708-63aa-3729-ab93-d22267096089","instanceIdentifier":"9925ea27-0184-1000-d394-2699ec0a21d9","name":"InvokeHTTP","comments":"","position":{"x":1672.0,"y":496.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://host.docker.internal:8000/input","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"0780f454-7ef8-3cd2-8a69-add9f7066760","instanceIdentifier":"be53dc84-0184-1000-5859-0f579cd51413","name":"InvokeHTTP","comments":"","position":{"x":1688.0,"y":728.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://host.docker.internal:8000/input","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5e09a910-29f7-3841-94f1-730d99534e94","instanceIdentifier":"be5430e1-0184-1000-10f8-e83da138c2ba","name":"","source":{"id":"cfef1fea-03af-31c9-ab08-03121f0cb6c1","type":"PROCESSOR","groupId":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d","name":"InvokeHTTP","comments":"","instanceIdentifier":"be538d62-0184-1000-37df-c9244122084d"},"destination":{"id":"0780f454-7ef8-3cd2-8a69-add9f7066760","type":"PROCESSOR","groupId":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d","name":"InvokeHTTP","comments":"","instanceIdentifier":"be53dc84-0184-1000-5859-0f579cd51413"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"},{"identifier":"9c5a5386-cdb2-356e-8a88-6afa6aed82df","instanceIdentifier":"99a8b2d9-0184-1000-7ccf-183d2c6a9f84","name":"","source":{"id":"67777a50-98e2-3785-9a21-4dea4461fd20","type":"PROCESSOR","groupId":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d","name":"LdesClient","comments":"","instanceIdentifier":"99a88d81-0184-1000-b61a-39d088303317"},"destination":{"id":"dfd0f708-63aa-3729-ab93-d22267096089","type":"PROCESSOR","groupId":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d","name":"InvokeHTTP","comments":"","instanceIdentifier":"9925ea27-0184-1000-d394-2699ec0a21d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7d5475d8-3fcb-3b79-9ce5-dc8f7a33373d"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}